@font-face {
    font-family: Exo2;
    src: url("/Exo 2/Exo2-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Exo2-Bold;
    src: url("/Exo 2/Exo2-Bold.ttf") format('truetype');
    font-weight: bold;
}

h1 {
    text-align: center;
    font-family: 'Exo2-bold';
    font-size: 60px;
    color: rgb(255, 255, 255);
}



body.light {
    background-color: rgb(255, 255, 255);
    margin: 0;

    font-family: 'gotham', sans-serif;;
    font-family: 'Exo2';
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: rgb(0, 0, 0);

    overflow-y: scroll;
}

body.dark {
    background-color: rgb(16, 16, 16);
    margin: 0;

    font-family: 'gotham', sans-serif;;
    font-family: 'Exo2';
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: rgb(255, 255, 255);

    overflow-y: scroll;
}


body.default {
    background-color: rgb(20, 21, 40);
    margin: 0;

    font-family: 'gotham', sans-serif;;
    font-family: 'Exo2';
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: rgb(255, 255, 255);

    overflow-y: scroll;
}





/* -------- LIGHT THEME -------------*/




/* ==== TEST NAV ===== */

body.light #test-nav-container {
    background-color: rgb(209, 209, 209);
    font-size: 26px;
    display: flex;
    justify-content: center;
    /* padding: 20px 0px 20px 0px; */
}


body.light .nav-link-holder {
    background-color: rgb(209, 209, 209);
    padding: 18px 110px 18px 110px;
    float: left
}

/* CHANGES NAVBAR LENGHT ON ZOOM */
/* @media (max-width: 768px) {
    .nav-link-holder {
        padding: 18px 20px 18px 20px;
        float: left;
    }
} */

body.light .test-nav-link {
    all: unset;
    position: relative;
    color: rgb(28, 28, 28);
    transition: ease-in 0.1s;
}

body.light .test-nav-link::before {
    content: "";
    position: absolute;
    top: -22px;
    bottom: -22px;
    left: -87px;
    right: -87px;
}

body.light .test-nav-link:hover::before {
    cursor: pointer;
}

body.light .test-nav-link:hover {
    color: rgb(135, 135, 135)
}

body.light .test-active {
    /* position: relative; */
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* z-index: 2; */
    box-shadow: 0px 40px 0px 0px rgb(255, 255, 255), 0px 3px 26px rgba(0, 0, 0, 0.5);
}

body.light .test-active-text {
    color: rgb(0, 0, 0);
}



/* ===== ===== */


/* .navbar-custom {
    background-color: rgb(20, 21, 40);
    font-size: 20px;
} */

body.light #title {
    text-align: center;
    padding: 50px;
    background-color: rgb(73, 57, 0);

    background-image: url('light-theme.jpg');
    background-size: 100%;
    background-position-y: 55%;

    background-attachment: fixed;
    background-blend-mode: overlay;

    background-repeat: no-repeat;

    /* filter: blur(5px);
    -webkit-filter: blur(5px); */

    width: 100%;
    height: 20%; 
}

body.light #title h1 {
    position: relative;
    z-index: 1;
}

body.light #rank-desc-cont {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 100px; */
    width: 62%;
}

body.light #rank-desc {
    text-align: justify;
    display: table-row;
    text-align-last: inherit; /*ostatnia linijka dopasowana do poprzedniej*/
    font-size: 18px;
}

body.light #table-container {
    text-align: center;
    /* height: 875px; */
}

body.light #my-table {
    /* table-layout: fixed;*/
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* zoom:70%; */
}

body.light #my-table tr {
    transition: 0.2s;
}

body.light #my-table th {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.591);
    color: white;
}

body.light #my-table td {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(87, 87, 87, 0.108);
    color: rgb(0, 0, 0);
}

body.light #chart-container {
    margin-top: 100px; /*TEMPORARY !!*/
}

body.light .row{
    align-items: center;
    justify-content: center;
}

body.light .data-row:hover {
    background-color: rgba(102, 102, 102, 0.155)
}

body.light .left-side {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

body.light .right-side {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

body.light .chartBox {
    /* width: 60%; */
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}

body.light #loader {
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    margin-top: 100px;
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
    


/* =========== SETTINGS SECTION =========== */



body.light .settings-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom:90px;
}

body.light #theme-container {
    display: flex;
    justify-content: center;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* display: inline-block; */
}

body.light .theme-selector {
    background-color: rgb(0, 0, 0);

    margin: 0px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 5px;
    border-radius: 12px;

    flex: 1 1 auto;           
    aspect-ratio: 1215/734;

    filter: grayscale(100%);
    transition: ease-out 0.3s;

}

body.light .theme-selector:hover {
    border-color: rgb(45, 45, 45);
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .theme-selector {
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 6px;
        border-width: 3px;
        transition: none;
    }
} */

body.light .active-theme {
    border-color: rgb(206, 163, 22);
    filter: none;
}

/* body.light #default-theme-div {
    background-image: url('default-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

body.light #dark-theme-div {
    background-image: url('dark-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

body.light #light-theme-div {
    background-image: url('light-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
} */








/* -------- DARK THEME -----------*/







body.dark #test-nav-container {
    background-color: rgb(3, 3, 3);
    font-size: 26px;
    display: flex;
    justify-content: center;
    /* padding: 20px 0px 20px 0px; */
}


body.dark .nav-link-holder {
    background-color: rgb(3, 3, 3);
    padding: 18px 110px 18px 110px;
    float: left
}

/* CHANGES NAVBAR LENGHT ON ZOOM */
/* @media (max-width: 768px) {
    .nav-link-holder {
        padding: 18px 20px 18px 20px;
        float: left;
    }
} */

body.dark .test-nav-link {
    all: unset;
    position: relative;
    color: rgb(158, 158, 158);
    transition: ease-in 0.1\s;
}

body.dark .test-nav-link::before {
    content: "";
    position: absolute;
    top: -22px;
    bottom: -22px;
    left: -87px;
    right: -87px;
}

body.dark .test-nav-link:hover::before {
    cursor: pointer;
}

body.dark .test-nav-link:hover {
    color: rgb(220, 220, 220)
}

body.dark .test-active {
    /* position: relative; */
    background-color: rgb(16, 16, 16);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* z-index: 2; */
    box-shadow: 0px 30px 0px 0px rgb(16, 16, 16), 0px 3px 26px rgba(0, 0, 0, 0.5);
}

body.dark .test-active-text {
    color: rgb(255, 255, 255);
}



/* ===== ===== */


/* .navbar-custom {
    background-color: rgb(20, 21, 40);
    font-size: 20px;
} */

body.dark #title {
    text-align: center;
    padding: 50px;
    background-color: rgb(67, 38, 38);

    background-image: url('dark-theme.jpg');
    background-size: 100%;
    background-position-y: 80%;

    background-attachment: fixed;
    background-blend-mode: overlay;

    background-repeat: no-repeat;

    /* filter: blur(5px);
    -webkit-filter: blur(5px); */

    width: 100%;
    height: 20%; 
}

body.dark #title h1 {
    position: relative;
    z-index: 1;
}

body.dark #rank-desc-cont {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 100px; */
    width: 62%;
}

body.dark #rank-desc {
    text-align: justify;
    display: table-row;
    text-align-last: inherit; /*ostatnia linijka dopasowana do poprzedniej*/
    font-size: 18px;
}

body.dark #table-container {
    text-align: center;
    /* height: 875px; */
}

body.dark #my-table {
    /* table-layout: fixed;*/
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* zoom:70%; */
}

body.dark #my-table tr {
    transition: 0.2s;
}

body.dark #my-table th {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.591);
    color: white;
}

body.dark #my-table td {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(178, 178, 178, 0.108);
    color: rgb(255, 255, 255);
}

body.dark #chart-container {
    margin-top: 100px; /*TEMPORARY !!*/
}

body.dark .row{
    align-items: center;
    justify-content: center;
}

body.dark .data-row:hover {
    background-color: rgba(255, 0, 38, 0.155)
}

body.dark .left-side {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

body.dark .right-side {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

body.dark #loader {
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    margin-top: 100px;
    width: 48px;
    height: 48px;
    border: 5px solid #ff0044;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
    


/* =========== SETTINGS SECTION =========== */



body.dark .settings-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom:90px;
}

body.dark #theme-container {
    display: flex;
    justify-content: center;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* display: inline-block; */
}

body.dark .theme-selector {
    margin: 0px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 5px;
    border-radius: 12px;

    flex: 1 1 auto;             /* XD */
    aspect-ratio: 1215/734;

    filter: grayscale(100%);
    transition: ease-out 0.3s;

}

body.dark .theme-selector:hover {
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .theme-selector {

        margin-left: 4px;
        margin-right: 4px;
        border-radius: 6px;
        border-width: 3px;
        transition: none;
    }
} */

body.dark .active-theme {
    border-color: rgb(255, 255, 255);
    filter: none;
}

/* body.dark #default-theme-div {
    background-image: url('default-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

body.dark #dark-theme-div {
    background-image: url('dark-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

body.dark #light-theme-div {
    background-image: url('light-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
} */












/* -------- DEFAULT THEME -----------*/













#test-nav-container {
    background-color: rgb(12, 12, 24);
    font-size: 26px;
    display: flex;
    justify-content: center;
    /* padding: 20px 0px 20px 0px; */
}


.nav-link-holder {
    background-color: rgb(12, 12, 24);
    padding: 18px 110px 18px 110px;
    float: left
}

/* CHANGES NAVBAR LENGHT ON ZOOM */
/* @media (max-width: 768px) {
    .nav-link-holder {
        padding: 18px 20px 18px 20px;
        float: left;
    }
} */

.test-nav-link {
    all: unset;
    position: relative;
    color: rgb(158, 158, 158);
    transition: ease-in 0.1\s;
}

.test-nav-link::before {
    content: "";
    position: absolute;
    top: -22px;
    bottom: -22px;
    left: -87px;
    right: -87px;
}

.test-nav-link:hover::before {
    cursor: pointer;
}

.test-nav-link:hover {
    color: rgb(211, 211, 211)
}

.test-active {
    /* position: relative; */
    background-color: rgb(20, 21, 40);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    /* z-index: 2; */
    box-shadow: 0px 30px 0px 0px rgb(20, 21, 40), 0px 3px 26px rgba(0, 0, 0, 0.5);
}

.test-active-text {
    color: rgb(255, 255, 255);
}



/* ===== ===== */


.navbar-custom {
    background-color: rgb(20, 21, 40);
    font-size: 20px;
}

#title {
    text-align: center;
    padding: 50px;
    background-color: rgb(30, 32, 60);

    background-image: url('wallpaper.jpg');
    background-size: 100%;
    background-position-y: 320%;

    background-attachment: fixed;
    background-blend-mode: overlay;

    background-repeat: no-repeat;

    /* filter: blur(5px);
    -webkit-filter: blur(5px); */

    width: 100%;
    height: 20%; 
}

#title h1 {
    position: relative;
    z-index: 1;
}

#rank-desc-cont {
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    /* padding-right: 100px; */
    width: 62%;
}

#rank-desc {
    text-align: justify;
    display: table-row;
    text-align-last: inherit; /*ostatnia linijka dopasowana do poprzedniej*/
    font-size: 18px;
}

#table-container {
    text-align: center;
    /* height: 875px; */
}

#my-table {
    /* table-layout: fixed;*/
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* zoom:70%; */
}

#my-table tr {
    transition: 0.2s;
}

#my-table th {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.591);
    color: white;
}

#my-table td {
    border: 0;
    padding: 20px 0px 20px 0px;
    background-color: rgba(106, 111, 213, 0.108);
    color: white;
}

#chart-container {
    margin-top: 100px; /*TEMPORARY !!*/
}

.row{
    align-items: center;
    justify-content: center;
}

.data-row:hover {
    background-color: rgba(98, 105, 200, 0.155)
}

.left-side {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-side {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} 

#loader {
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    margin-top: 100px;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
    



/* =========== SETTINGS SECTION =========== */




.settings-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom:90px;
}

#theme-container {
    display: flex;
    justify-content: center;
    /* width: 60%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* display: inline-block; */
}

.theme-selector {
    margin: 0px 20px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 5px;
    border-radius: 12px;

    flex: 1 1 auto;             /* XD */
    aspect-ratio: 1215/734;

    filter: grayscale(100%);
    transition: ease-out 0.3s;

}

.theme-selector:hover {
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

/* @media (max-width: 800px) {
    .theme-selector {

        margin-left: 4px;
        margin-right: 4px;
        border-radius: 6px;
        border-width: 3px;
        transition: none;
    }
} */

.active-theme {
    border-color: rgb(255, 255, 255);
    filter: none;
}

#default-theme-div {
    background-image: url('default-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#dark-theme-div {
    background-image: url('dark-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

#light-theme-div {
    background-image: url('light-theme.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.chartBox {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px white;
    background: white;
}

body.light .chartBox {
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(0, 0, 0, 0.5);
    background: white;
}

#div_chart2{
    display: none;
}

#div_chart3{
    display: none;
}


.btn, .dropdown-item{
    padding: 10px 15px 10px 15px; 
    font-size: 20px;
}


/* CHART ICONS */

.icon-row {
    vertical-align: middle;
}

body.light .icon-row {
    vertical-align: middle;
    filter: invert(100%);
}

.icon {
    height: 80%;
    width: 80%;
    transition: ease-out 0.2s;
}

.icon:hover {
    height: 75%;
    width: 75%;
}

.chart-button {
    /* align-items: center; */
    text-align: center;
    filter: opacity(44%);
    transition: ease-out 0.2s;
}


body.light .chart-button p {
    filter: invert(100%);
}

.chart-button:hover {
    filter: opacity(80%);
    cursor: pointer;
}

.active-button {
    filter: none;
}

#chart-container {
    align-items: center;
}



@media (max-width: 768px) {
    body.light .nav-link-holder, 
    body.dark .nav-link-holder, 
    body.default .nav-link-holder {
        padding: 18px 20px 18px 20px;
        float: left;
    }
}


@media (max-width: 800px) {
    body.light .theme-selector,
    body.dark .theme-selector,
    body.default .theme-selector {
        /* height: 71px;
        width: 120px; */
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 6px;
        border-width: 3px;
        transition: ease-out 0.3s;;
    }
}


/* #gold-medal {
    background-image: url('gold-medal.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

#silver-medal {
    background-image: url('silver-medal.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

#bronze-medal {
    background-image: url('bronze-medal.png');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

#gold-medal:hover {
    background-blend-mode:lighten;
    transition: 0.2s;
} */

/* table rows and cells */
